@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}
html {
  scroll-behavior: smooth;
}

#quemsomos,
#cadastro {
  scroll-margin-top: 160px;
}

 /* inicio: Da LogoMarca */
.topo {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 30px;
}
 /* final LogoMarca */


/* ======= MENU ======= */

header nav ul li {
  padding: 0px 5px;
}

header nav ul li h1{
  font-size: 30px;
  color: white;
  
}

header nav ul li a {
  background-color: #171717;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 20px 30px;
  transition: all 0.3s;
  
}

header nav ul li a:hover {
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: white;
  padding: 20px 30px; 
}


 section > div{
 width: 1200px;
 margin: auto;
} 

.container > div {
  text-align: center;
  padding-bottom: 60px;
}
.container > div img:nth-last-of-type(2){
  padding: 0px 10px;
}

.container > div img ,
.container3 > div img {
  border-radius: 30px;
}

.container2  > div {
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
     
.caixa {
  padding-top: 80px;
}

.container2 > div h1 {
  padding-bottom: 10px;

}

.container2 > div p {
  line-height: 22px;
  padding-right: 40px;
}

.container2 > div p:nth-of-type(3) {
  text-align: right;
  padding-top: 30px;
}

.container2 > div img {
  border-radius: 10px;
  
}
.container3 div {
      text-align: center;
      padding-bottom: 20px;
      font-weight: bold;
 }
.container3  > div > div {
  border-radius: 30px;
  color: rgb(235, 235, 235);
  background-color: rgb(128, 14, 14);
  padding: 20px;
  font-size: 20px;
}
.container3 > div h3 {
  color: rgb(255, 255, 255);
}
.container3 > div span {
  color: yellow;
}

 
 .container3 > div img:nth-last-of-type(2){
  padding: 0px 10px;
}
 .container3 > div > div:hover {
  background-color: #ab0101;
 }
 .finalBotao {
  padding: 5px 10px ;
  background-color: #2c2d2c;
  border-radius: 5px;
  border: none;
 }
 .finalBotao a {
  color: white;
 }


 /* ======= CONTAINERS ======= */
 .camiseta h3 {
	color: rgb(255, 255, 255);
	text-align: center;
  padding-top: 20px;
  font-size: 25px;
 }
  .camiseta h4 {
	color: rgb(255, 0, 0);
	text-align: center;
  font-size: 25px;
 }


  .camiseta img {
	 padding: 20px;
	 border-radius: 30px;
 }

  .camiseta > div {
	display: flex;
  flex-direction: row;
	justify-content: center;
	gap: 50px;
	padding: 40px;
}

.camiseta > div div {
  background-color: #1d1c1c;
  padding: 20px;
  border-radius: 8px;
}
.camiseta p,a {
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.moletons {
  margin: 20px;

}

.moletons > div {
  background-color: rgb(24, 23, 23);
  border-radius: 20px;
  color: rgb(255, 255, 255);
	display: flex;
  flex-direction: row;
	justify-content: center;
	gap: 20px;
	padding:40px;
}

 .moletons > div img {
  border-radius: 20px;
  padding: 0px 5px;
 }
 .moletons > div p {
  font-size: 23px;
  padding-bottom: 10px;
 }

 .ofertasUsuario > div {
  background-color: #ac0505;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
 }
 
 .ofertacamiseta > div {
  background-color: #171717;
  border-radius: 20px;
  gap: 50px;
  justify-content: center;
  display: flex;
  flex-direction: row;
 }

 .ofertacamiseta p,a {
  color: white;
  padding-bottom: 20px;

}


/* Final dos Conteiners */

/* inicio De Compras */
.camisa1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}
.camisa1 img {
    padding: 40px;
    border-radius: 50px;

}

.camisa1 p , h2{
    font-size: 30px;
    color: white;
    text-align: left;
}

.camisa1 .valores {
    color: gray;
    font-size: 20px;

}

.tamanhos {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.opcao {
  position: relative;
  cursor: pointer;
}

.opcao input {
  display: none;
}

.opcao span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #474646;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border: 2px solid transparent;
}

.opcao input:checked + span {
  background-color: #a9aaab;
  color: rgb(0, 0, 0);
  border-color: #ffffff;
}

.texto {
  padding-top: 40px;
}

.comprar { 
   background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}
.comprar:hover {
    background-color: #156f2a;   
}
.comprar:active {
  transform: scale(0.95);
}
/* Final De Compras */

.ofertas {
  background-color: gray;
}
.ofertas > div {
  display: flex;
  flex-direction: row;
}

.cadastro > div{
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
}
.cadastro > div div {
  padding: 20px;
}
form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #e62020;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #971414;
}


footer {
  background-color: rgb(20, 20, 20);
  padding: 30px;
  text-align: center;
}
footer p {
  color: white;
}


/* ======= MOBILE ======= */
@media screen and (max-width: 768px) {
   
    header nav {
    justify-items: center;
    }

      header nav ul {
    flex-direction: row;
    }

    header nav ul {
     padding: 10px 0px;
    }

    header nav ul li a {
      padding: 10px 5px;
      font-size: 15px;
      text-align: center;
      display: block;
      width: 100%;
    }
   
    
    .topo{
      padding: 0px;
      display: flex;
      flex-direction: column;
    }

    .topo img {
      padding: 0px 30px;
    }

    header nav ul li a:hover{
      border-radius: 5px;
      padding: 10px 15px; 
      
    }
     section > div {
    width: 100%;
    margin: auto;
    } 
  


    .container > div {
      padding-bottom: 20px;
    }
    .box > div img {
      padding-top: 15px;
      border-radius: 5px;
  
    }

    .container > div img:nth-last-of-type(2){
     padding: 0px 0px;
    }

    .caixa {
      padding-top: 0px;
      padding-bottom: 5px;
    }

    .container2 > div {
      flex-direction: column;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      font-size: 14px;
    }

    .container2 > div p {
      padding-right: 0px;
      text-align: justify;
    }

    .camiseta > div {
      flex-direction: column;
    }
    .camiseta  p,a {
      color: rgb(255, 255, 255);
    }

    .camiseta > div div {
      background-color: #363636;
      text-align: center;
      padding: 5px;
      border-radius: 8px;
    }

    .camisa1 {
      display: flex;
      flex-direction: column;
    }
    .camisa1 img {
      padding: 10px;
      border-radius: 20px;
    }
    .texto {
      padding-top: 0px;
    }

    .container3 div {
      text-align: center;
      padding-bottom: 20px;
    }
    .container3 > div img:nth-last-of-type(2){
     padding: 0px 0px;
    }
    .moletons > div {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }
    .ofertasUsuario {
      margin: 20px;
    }
    .ofertacamiseta > div {
      flex-direction: column;
      text-align: center;
      gap: 0px;
    }




}
